<div class="tag-container">
  <h2>Gestion des étiquettes</h2>

  <form *ngIf="editing" (submit)="saveTag()">
    <input type="text" [(ngModel)]="editing.name" name="name" required />
    <input type="color" [(ngModel)]="editing.color" name="color" />
    <button type="submit">Enregistrer</button>
    <button type="button" (click)="cancelEditing()">Annuler</button>
  </form>

  <button (click)="editing = { id: 0, name: '', color: '#000000' }">Ajouter une étiquette</button>

  <ul class="tag-list">
    @for(tag of tags; track $index) {
      <li>
        <app-tag [id]="tag.id" [name]="tag.name" [color]="tag.color" (click)="edit(tag)"></app-tag>
      </li>
    } @empty {
      <li>Aucun tag !</li>
    }
  </ul>

  <div class="tag-actions" *ngFor="let tag of tags">
    <app-tag [id]="tag.id" [name]="tag.name" [color]="tag.color" (click)="edit(tag)"></app-tag>
    <button (click)="deleteTag(tag)">Supprimer</button>
  </div>
</div>
